.navbarBelt{
    background-color: #131921;
    display: flex;
    width: 100%;
    height: 65px;
    color: white;
    
}

/*---------- left side nav ----------*/
.leftNavBelt{
    display: flex;
    gap: 5px;
    padding: 10px;
}

.leftNavBeltLogo{
    width: 110px;
    text-decoration: none;
    color: white;
    display: flex;
    padding: 8px;
    cursor: pointer;
}

.leftNavBeltLogo:hover{
    border: 1px solid;
    border-radius: 3px;
}

.amazonLogoNavbar{
    width: 97px;
    height: 100%;
} 

.Navbar_inLogo{
    margin-left: 2px;
    font-weight: 400;
}

/*---------- left side nav Location ----------*/
.navbarBeltLocation{
    display: flex;
    gap: 5px;
    padding: 8px;
    /* height: 30px; */
    cursor: pointer;
}

.navbarBeltLocation:hover{
    border-radius: 3px;
    border: 1px solid;
}


.navbarBeltLocationImg{
    width: 15px;
    padding-top: 7px;
}

.navbarBeltLocationPlace{
    display: flex;
    flex-direction: column;
}

.navbarBeltLocationTop{
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: 500;
}

.navbarBeltLocationBottom{
    font-size: 14px;
    font-weight: 600;
    line-height: 15px;
}

.navbarBeltLocationImgIcon{
    margin-top: 3px;
}

/*---------- Search Box ----------*/

.navbarBeltSearchBox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 4px;
    width: 50%;
}

.navbarBeltSearchDiv{
    display: flex;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #131921;

}

.navbarBeltSearchBoxAll{
    display: flex;
    background-color: #cdcdcd;
    gap: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    color: #999999;
}

.navbarBeltSearchBoxAllText{
    font-size: 12px;
    font-weight: 600;

}

.navbarBeltInputSearchBox{
    padding: 5px;
    width: 84%;
    &::placeholder{
        color: gray;
        font-size: 15px;
        font-weight: 500;
    }
    &:focus{
        outline: none;
    }
    color: #131921;
}

/*---------- Search Icon ----------*/

.searchIconNavbarBelt{
    display: flex;
    background-color: #febd69;
    font-size: 10px;
    border-top-right-radius:5px ;
    border-bottom-right-radius:5px ;
    cursor: pointer;
    padding: 10px;
    justify-content: center;
    align-items: center;
    &:hover{
        background-color: #f1ba73;
    }
}

.searchIconNavbarBeltIcon{
    font-size: 20px;
    color: black;
}